{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_start -%}
    {% if 0 == form.vars.errors|length and not form.vars.valid -%}
        <div class="alert alert-danger" role="alert">
            LET OP! Dit formulier is nog niet opgeslagen. Herstel de fouten in
            dit formulier en klik nogmaals op "Opslaan".
        </div>
    {%- endif %}
        
    {# Add the id attribute to existing form attributes #}
    {% set attr = form.vars.attr|merge({'id': form.vars.id}) %}
    {# Call the parent form_start block with the updated attr variable:
       In theory, this does allow the form to inherit attributes from its parent form,
       create new attributes, or overwrite existing ones #}
    {{ parent(form.vars | merge({'attr': attr})) }}

    <!-- Modal voor Afsluiting Bevestiging -->
    <div class="modal fade" id="afsluitingConfirmModal" tabindex="-1" role="dialog" aria-labelledby="afsluitingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="afsluitingModalLabel">Bevestig actie</h4>
                </div>
                <div class="modal-body">
                    <!-- De inhoud van de modal body kan dynamisch worden aangepast door JavaScript -->
                    <p>Weet u zeker dat u deze actie wilt uitvoeren?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                    <button type="button" class="btn btn-primary" id="afsluitingConfirmBtn">Bevestigen</button>
                </div>
            </div>
        </div>
    </div>

{%- endblock form_start %}

{% block without_label %}
    {{ form_widget(form) }}
{% endblock without_label %}

{#Override form_label to not display empty div for empty label. Although it might break/alter display for forms the way one is used to... #}
{% block form_label -%}
    {%- if label is same as(false) -%}
        <div class=""></div>
    {%- else -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) -%}
        {{- parent() -}}
    {%- endif -%}
{%- endblock form_label %}

{#Seems redundant as it is the same as in the bootstrap layout? #}
{% block form_label_class -%}
    col-sm-2
{%- endblock form_label_class %}