{% extends '@Iz/intakes/view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_right %}
    {% if 'IzBundle\\Entity\\IzKlant' == class(entity.izDeelnemer) %}
        {% include '@Iz/klanten/_tabs.html.twig' with {klant: entity.izDeelnemer, current: 'intake'} %}
    {% else %}
        {% include '@Iz/vrijwilligers/_tabs.html.twig' with {vrijwilliger: entity.izDeelnemer, current: 'intake'} %}
    {% endif %}
    <div class="tab-content">
        <div id="intake" class="tab-pane active">
            <h2>Intake bewerken</h2>
            <p>
                {{ html.cancelLink(path('iz_intakes_view', {id: entity.id})) }}
                {{ html.link('Annuleren', path('iz_intakes_view', {id: entity.id})) }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
