{% include 'oek_subnavigation.twig' %}

<h1>E-mail deelnemers van training</h1>

<form method="post">
    <p>
        <input type="text" name="subject" placeholder="Onderwerp" required>
    </p>
    <p>
        <textarea name="body" cols="30" rows="10" placeholder="Tekst" required></textarea>
    </p>
    <p>
        <button type="submit">Verzend</button>
    </p>
</form>