{% include 'oek_subnavigation.twig' %}

<h1>E-mail deelnemers van training {{ oekTraining }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Verzenden</button>
{{ form_end(form) }}
