{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Deelname verwijderen</h1>
    <p>
        Weet u zeker dat u deelnemer <strong>{{ deelname.deelnemer }}</strong>
        van training <strong>{{ deelname.training }}</strong> wilt verwijderen?
        <br>
        {{ form(form) }}
    </p>
{% endblock %}
