{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Status van deelname aan training wijzigen</h1>
    {{ form(form) }}
{% endblock %}

{% block scripts %}

<script>
    $(function() {
        var fieldDoorverwijzenNaar = $('form input#deelname_doorverwezenNaar').closest('.form-group');
        var fieldDeelnameStatus = $('form select#deelname_status');

        fieldDoorverwijzenNaar.hide();
        fieldDeelnameStatus.on('change', function(event){
            this.value == 'Afgerond'? fieldDoorverwijzenNaar.show() : fieldDoorverwijzenNaar.hide();
        });

    });

</script>
{% endblock %}
