{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Vrijwilliger wijzigen</h1>
    <p>
        Hier kunt u alleen de Homeservice-gegevens voor deze vrijwilliger wijzigen.
        Klik {{ html.link('hier', path('app_vrijwilligers_edit', {id: entity.vrijwilliger.id })) }}
        om naar het basisdossier van deze vrijwilliger te gaan.
    </p>
    {{ form(form) }}
{% endblock %}
