{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Klant wijzigen ({{ entity.appKlant.naam }})</h1>
    <p>
        Hier kunt u alleen de Tijdelijk Wonen-gegevens voor deze klant wijzigen. Klik
        {{ html.link('hier', path('app_klanten_view', {'id': entity.appKlant.id})) }}
        om naar het basisdossier van deze klant te gaan.
    </p>
    {% include('@Tw/klanten/_form.html.twig') with {'klantForm': form } %}
{#    {{ block('klantForm') }}#}

{% endblock %}
