body {
    font-family: Arial;
    font-size: 14px;
}

.logo {
    float: right;
    margin: 0 0 20px 20px;
}

h1 {
    font-weight: bold;
    font-size: 18px;
}

.message {
    background: none repeat scroll 0 0 #E8F9D4;
    border: 1px solid #759C46;
    color: #557C26;
    font-size: 120%;
    font-weight: bold;
    margin: 0 0 1em;
    padding: 5px;
}