body {
    font-family: Arial;
    font-size: 14px;
}

.logo {
    float: right;
    margin: 0 0 20px 20px;
}

h1 {
    font-weight: bold;
    font-size: 18px;
}

.only_on_screen {
    display: none;
}