{% import '::html.macro.twig' as html %}

<h2>Intakes</h2>
<p>
    {{ html.link('Overzicht intakes', path('inloop_intakes_index', {'intake_filter[klant][id]': klant.id}), 'view') }}
    {% if not klant.huidigeStatus or klant.huidigeStatus.aangemeld %}
        {{ html.link('Intake toevoegen', path('inloop_intakes_add', {klant: klant.id}), 'add') }}
    {% endif %}
</p>
<p>
    {{ html.link('Leeg intakeformulier printen', path('inloop_intakes_form'), 'print') }}
</p>
<table class="table">
    <tr>
        <th>Laatste intake</th>
        <td>
            {% if klant.laatsteIntake %}
                {{ html.link(klant.laatsteIntake.intakedatum|date('d-m-Y'), path('inloop_intakes_view', {id: klant.laatsteIntake.id}), 'view') }}
            {% else %}
                Geen intakes
            {% endif %}
        </td>
    </tr>
</table>
