{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}Er is iets veranderd{% endblock %}

{% block content %}
    <h1>Er is iets veranderd</h1>
    <p>Beste {{app.user}},<br/> De algemene klanten en vrijwilligerslijsten worden uitgefaseerd vanwege privacy.<br/><br/>
        In principe is het de bedoeling dat klanten en vrijwilligers via de eigen afdelingsmodule worden opgezocht en aangemaakt. <br/><br/>
        Mochten wij iets over het hoofd zien en er een goede reden zijn waarom je toch meent toegang tot de algemene klanten- en vrijwilligerslijst nodig te hebben, <br/>
        stuur dan even een mail naar <a href="mailto:ecd@deregenboog.org?subject=Toegang algemene klanten/vrijwilligerslijst&body=Hi Daan, Ik heb voor mijn werk toegang tot de algemene klanten en/of vrijwilligerslijst nodig, omdat…">ecd@deregenboog.org</a> waarin je uitlegt waarom je vanuit jouw werkproces toegang tot deze algemene lijst nodig hebt.</p>
{% endblock %}