<p>
    <strong>
        Periode: {{ startDate|date('d-m-Y') }} - {{ endDate|date('d-m-Y') }}
    </strong>
</p>
<div>
    {% for report in reports %}
        {% include '@Tw/rapportages/_pivot_table.html.twig' %}
    {% endfor %}
</div>
