{% include 'hs_subnavigation.twig' %}

<h1>Klant {{ hsKlant }}: Profielcode toevoegen</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Opslaan" />
{{ form_end(form) }}