{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Klanten |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/hs_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Factuur verwijderen</h1>
    <p>
        Weet u zeker dat u factuur {{ entity }} wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
