{% extends 'base.html.twig' %}

{% block content %}
    <h1>Afsluiting verwijderen</h1>
    <p>
        Weet u zeker dat u afsluiting <strong>{{ afsluiting }}</strong> wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
