{% import 'html.macro.twig' as html %}

<h2>Documenten</h2>
<dl class="dl-horizontal">
    <dt>Toestemmingsformulier</dt>
    <dd>
        {% if klant.toestemmingsformulier %}
            {{ html.link('Toestemmingsformulier downloaden', vich_uploader_asset(klant.toestemmingsformulier, 'file'), 'download') }}
            {% if klant.toestemmingsformulier.medewerker.id == app.user.id or is_granted('ROLE_ADMIN') %}
                {{ html.link('', path('app_klanten_deletedocument', {klant: klant.id, documentId: klant.toestemmingsformulier.id}), 'delete') }}
            {% endif %}
        {% else %}
            {{ html.link('Toestemmingsformulier toevoegen', path('app_documenten_add', {klant: klant.id, type: 'toestemming'}), 'add') }}
        {% endif %}
    </dd>
</dl>
