{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    OEK | Lidmaatschappen |
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/_partials/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelnemer aan wachtlijst toevoegen</h1>
    {{ form(form) }}
{% endblock %}
