{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | Lidmaatschappen
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Groep verwijderen</h1>
    <p>
        Weet u zeker dat u deelnemer <strong>{{ lidmaatschap.deelnemer }}</strong>
        van wachtlijst <strong>{{ lidmaatschap.groep }}</strong> wilt verwijderen?
        <br>
        {{ form(form) }}
    </p>
{% endblock %}
