/app/config
/app/tmp
/archive

# Composer-managed deps
/vendor/*

# Eclipse project files
/.settings/*
/.project
/.buildpath

# Docker files
/Dockerfile
/docker-compose.yml
/docker-entrypoint-initdb.d/*
/.data
