/app/config/parameters.yml

# Temp dir
/app/tmp
!/app/tmp/cache/models/.gitkeep
!/app/tmp/cache/persistent/.gitkeep
!/app/tmp/cache/views/.gitkeep
!/app/tmp/etiketten/.gitkeep
!/app/tmp/logs/.gitkeep
!/app/tmp/sessions/.gitkeep
!/app/tmp/tests/.gitkeep

/archive

# Docker
/.mysql/*

# Composer
/vendor/*

# Eclipse
/.settings/*
/.project
/.buildpath

# Custom tools
/bin/*
!/bin/console
!/bin/docker-build.sh
!/bin/docker-up.sh
!/bin/docker-stop.sh
/app/bootstrap.php.cache
