{% extends 'GaBundle::view.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content_left %}
    <dl class="dl-horizontal">
        <dt>Naam</dt>
        <dd>{{ entity }}</dd>
        <dt>Groep</dt>
        <dd>{{ entity.groep ? html.link(entity.groep, path('ga_groepen_view', {id: entity.groep.id})) }}</dd>
        <dt>Datum</dt>
        <dd>{{ entity.datum|date('d-m-Y') }}</dd>
        <dt>Tijd</dt>
        <dd>{{ entity.tijd|date('H:i') }}</dd>
    </dl>
{% endblock %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#deelnemers">Deelnemers</a></li>
        <li><a data-toggle="tab" href="#vrijwilligers">Vrijwilligers</a></li>
    </ul>
    <div class="tab-content">
        <div id="deelnemers" class="tab-pane active">
            {% include 'GaBundle:deelnames:_list.html.twig' with {context: 'klanten'} %}
        </div>
        <div id="vrijwilligers" class="tab-pane">
            {% include 'GaBundle:deelnames:_list.html.twig' with {context: 'vrijwilligers'} %}
        </div>
    </div>
{% endblock %}
