{% include('hs_subnavigation.twig') %}

{% if hsKlant is defined %}
    <h1>Klus toevoegen voor {{ hsKlant.klant }}</h1>
{% else %}
    <h1>HomeService-klus toevoegen</h1>
{% endif %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Opslaan</button>
{{ form_end(form) }}
