{% include('hs_subnavigation.twig') %}

<h1>Vrijwilliger toevoegen aan {{ hsKlus }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Toevoegen" />
{{ form_end(form) }}