{% include 'hs_subnavigation.twig' %}

<h1>Memo toevoegen</h1>
<h2>{{ hsKlus }}</h2>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Opslaan</button>
{{ form_end(form) }}
