<div id="subheader">
    {{ html.link(
        'Klanten',
        {'controller': 'oek_klanten', 'action': 'index'},
        this.viewPath == 'oek_klanten' and this.action == 'index' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Wachtlijst',
        {'controller': 'oek_klanten', 'action': 'wachtlijst'},
        this.viewPath == 'oek_klanten' and this.action == 'wachtlijst' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Groepen',
        {'controller': 'oek_groepen', 'action': 'index'},
        this.viewPath == 'oek_groepen' ? {'class': 'selected'} : {}
    )|raw }}
    &nbsp;&nbsp;
    {{ html.link(
        'Trainingen',
        {'controller': 'oek_trainingen', 'action': 'index'},
        this.viewPath == 'oek_trainingen' ? {'class': 'selected'} : {}
    )|raw }}
    <div>&nbsp;</div>
</div>
