{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ entity_name|capitalize }} wijzigen</h1>
    <p>
        Hier kunt u alleen de Op Eigen Kracht-gegevens voor deze deelnemer wijzigen.
        Klik {{ html.link('hier', path('oek_deelnemers_view', {id: entity.klant.id })) }}
        om naar het basisdossier van deze deelnemer te gaan.
    </p>
    {{ form(form) }}
{% endblock %}
