<h2 onClick="$('#klussen_list').toggle()">Klussen</h2>
<div id="klussen_list">
    {% if add_url is defined %}
        <p>
            {{ html.addLink(add_url) }}
            {{ html.link('Klus toevoegen', add_url) }}
        </p>
    {% endif %}
    <table class="table table-hover">
        {% for klus in entity.klussen %}
            <tr>
                <td>
                    {{ html.link(klus, path('hs_klussen_view', {id: klus.id})) }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
