{% include('hs_subnavigation.twig') %}

<h1>Vrijwilliger toevoegen aan {{ klus }}</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Toevoegen</button>
{{ form_end(form) }}
