{% include('hs_subnavigation.twig') %}

<h1>Klus verwijderen</h1>
<p>
    Weet u zeker dat u klus <strong>{{ klus }}</strong> wilt verwijderen?<br>
    {{ form_start(form) }}
        {{ html.link('Nee, terug', {'action': 'index'}) }}
        <button type="submit">Ja, verwijderen</button>
    {{ form_end(form) }}
</p>
