{% import 'html.macro.twig' as html %}

<h2>Documenten</h2>
{% if entity.huidigeStatus.aangemeld %}
    <p>
        {{ html.link('Document toevoegen', path('oekraine_documenten_add', {bezoeker: entity.id}), 'upload') }}
    </p>
{% endif %}
<table class="table table-hover">
    {% for document in entity.documenten %}
        <tr>
            <td>
                {{ html.link(document, vich_uploader_asset(document, 'file'), 'download') }}
                {% if is_granted('ROLE_ADMIN') or document.medewerker.id == app.user.id %}
                    {{ html.deleteLink(path('oekraine_documenten_delete', {id: document.id})) }}
                {% endif %}
            </td>
            <td>
                {{ document.created|date('d-m-Y') }}
            </td>
        </tr>
    {% endfor %}
</table>
