{% include 'oek_subnavigation.twig' %}

<h1>Klant wijzigen</h1>
<p>
    Hier kunt u alleen de Homeservice-gegevens voor deze klant wijzigen.
    Klik {{ html.link('hier', {'controller': 'klanten', 'action': 'view', 0: oekKlant.klant.id })|raw }}
    om naar het basisdossier van deze klant te gaan.
</p>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Opslaan</button>
{{ form_end(form) }}
