/* assets/js/calendar/index.css */

@import url("https://fonts.googleapis.com/css?family=Muli:400,900&display=swap");

#calendar-holder {
    font-family: "Muli", sans-serif;
    width: 800px;
    margin: 0 auto;

}

.fc-toolbar h2,
.fc th {
    font-weight: inherit;
}


.fc-day
{
    cursor:pointer;
}
a.fc-daygrid-week-number,a.fc-daygrid-week-number:hover, a.fc-daygrid-day-number,  a.fc-daygrid-day-number:hover
{
    cursor: default;
    text-decoration:none;
}

.fc-daygrid-event-harness
{
    cursor:default;
}