{% extends 'IzBundle:klanten:view.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content_right %}
    {% include 'IzBundle:klanten:_tabs.html.twig' with {klant: entity, current: 'aanmelding'} %}
    <div class="tab-content">
        <div id="aanmelding" class="tab-pane active">
            <h2>Aanmelding wijzigen</h2>
            <p>
                {{ html.cancelLink(path('iz_klanten_view', {id: entity.id, _fragment: 'aanmelding'})) }}
                {{ html.link('Annuleren', path('iz_klanten_view', {id: entity.id, _fragment: 'aanmelding'})) }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
