parameters:
    database_driver: pdo_mysql
    database_host: database
    database_port: 3306
    database_name: ecd
    database_user: ecd
    database_password: ecd
    database_server_version: '5.7.26'
    secret: 0ac758a6a8664bb4e2e89fb90e80ac668ea89ea6
    email_policy: prod
    locale: nl_NL
    profile: drg
    administrator_name: 'Daan van Leeuwen'
    administrator_email: ecd@deregenboog.org
    log_email: jborger@deregenboog.org
    ldap_domain: ''
    ldap_port: 389
    ldap_servers: []
    ldap_base_dn: ''
    ldap_search_user: ''
    ldap_search_password: ''
    tbc_months_period: 6
    tbc_countries:
        - Roemenië
        - Bulgarije
        - Estland
        - Letland
        - Litouwen
    amoc_locaties:
        - 'AMOC'
        - 'Nachtopvang DRG'
        - 'Amoc Gebruikersruimte'
    economisch_daklozen_locaties:
            - 'De Meeuw'
            - 'Claverhuis'
            - 'Gravestein'
            - 'Postoost'
            - 'Havelaar'
            - '''t Blommetje'
            - 'Tagrijn'
    spuitomruil_locaties:
        - 'Princehof gebruikersruimte'
        - 'Amoc gebruikersruimte'
    gezin_noodopvang_locaties:
        - 'Bloemendaal'
    iz_specifieke_projecten:
        -
            label: "2forT maatje"
            kpl: "2177"
        -
            label: "BdH - maatje"
            kpl: "2783"
        -
            label: "Dier en Vriend"
            kpl: "2725"
        -
            label: "Nieuw Thuis"
            kpl: "2727"
        -
            label: "Mensen onder elkaar"
            kpl: "2730"
    iz_hulpsoorten_zonder_koppelingen:
        - 'timeout'
    verblijfsstatus_niet_rechthebbend_id: 7
    informele_zorg_mail: ''
    dagbesteding_mail: ''
    inloophuis_mail: ''
    hulpverlening_mail: ''
    agressie_mail: ''
    administratiebedrijf_mail: ''
