parameters:
    database_driver: pdo_mysql
    database_host: database
    database_port: 3306
    database_name: ecd
    database_user: ecd
    database_password: ecd
    secret: 0ac758a6a8664bb4e2e89fb90e80ac668ea89ea6
    email_policy: prod
    locale: nl_NL
    profile: drg
    administrator_name: Bart Huttinga
    administrator_email: bhuttinga@deregenboog.org
    ldap_domain: ''
    ldap_port: ''
    ldap_servers: []
    ldap_base_dn: ''
    ldap_search_user: ''
    ldap_search_password: ''
    tbc_months_period: 6
    informele_zorg_mail: ''
    dagbesteding_mail: ''
    inloophuis_mail: ''
    hulpverlening_mail: ''
    agressie_mail: ''
    administratiebedrijf_mail: ''
