{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Verhuurder verwijderen</h1>
    <p>
        Weet u zeker dat u verhuurder
        {{ html.link(verhuurder, path('tw_verhuurders_view', {id: verhuurder.id})) }}
        wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
