{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Verhuurder verwijderen</h1>
    <p>
        Weet u zeker dat u verhuurder
        {{ html.link(verhuurder, path('tw_verhuurders_view', {id: verhuurder.id})) }}
        wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
