{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Verhuurder wijzigen</h1>
    <p>
        Hier kunt u alleen de Tijdelijk Wonen-gegevens voor deze verhuurder wijzigen.
        Klik {{ html.link('hier', path('app_klanten_view', {'id': entity.appKlant.id})) }}
        om naar het basisdossier van deze verhuurder te gaan.
    </p>
    {{ form(form) }}
{% endblock %}
