{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Verhuurder heropenen</h1>
    <p>Weet u zeker dat u het dossier van verhuurder {{ verhuurder }} wilt heropenen?
    {{ form(form) }}
{% endblock %}
