{% extends 'IzBundle:hulpvragen:view.html.twig' %}

{% block content_right %}
    <div class="tab-content">
        <div id="koppelingen" class="tab-pane active">
        <h2>Hulpvraag toevoegen</h2>
        <p>
            {{ html.cancelLink(path('iz_klanten_view', {id: entity.izKlant.id})) }}
            {{ html.link('Annuleren', path('iz_klanten_view', {id: entity.izKlant.id})) }}
        </p>
        {{ form(form) }}
        </div>
    </div>
{% endblock %}
