{% extends 'IzBundle:hulpvragen:view.html.twig' %}

{% block content_right %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#hulpvraag">Hulpvraag</a></li>
        <li><a href="{{ path(route_base~'view', {id: entity.id, _fragment: 'verslagen'}) }}">Verslagen</a></li>
    </ul>
    <div class="tab-content">
        <div id="afsluiting" class="tab-pane active">
            <h2>Afsluiting</h2>
            <p>
                {{ html.cancelLink(path(route_base~'view', {id: entity.id})) }}
                {{ html.link('Annuleren', path(route_base~'view', {id: entity.id})) }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
