{% extends 'IzBundle:klanten:view.html.twig' %}

{% set entity = entity.izKlant %}

{% block scripts %}
{% block content_right %}
    {% include 'IzBundle:klanten:_tabs.html.twig' with {klant: entity, current: 'koppelingen'} %}
    <div class="tab-content">
        <div id="koppelingen" class="tab-pane active">
            <h2>Koppelingen</h2>
            <p>
                {{ html.cancelLink(redirect_uri) }}
                {{ html.link('Annuleren', redirect_uri) }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

    <script type="text/javascript">
        $(function() {
            $('.nav-tabs a[href="#koppelingen"]').tab('show')
        });
    </script>
{% endblock %}
