{% extends '@Iz/klanten/view.html.twig' %}
{% import 'html.macro.twig' as html %}
{% set entity = entity.izKlant %}

{% block content_right %}
    {% include '@Iz/klanten/_tabs.html.twig' with {klant: entity, current: 'koppelingen'} %}
    <div class="tab-content">
        <div id="koppelingen" class="tab-pane active">
            <h2>Koppelingen</h2>
            <p>
                {{ html.cancelLink(redirect_uri) }}
                {{ html.link('Annuleren', redirect_uri) }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $('.nav-tabs a[href="#koppelingen"]').tab('show')
        });
    </script>
{% endblock %}
