{% extends '@App/zrms/view.html.twig' %}

{% block content_right %}
    <h2>{{ entity_name|capitalize }} wijzigen</h2>
    <dl class="dl-horizontal">
        <dt>Module</dt>
        <dd>{{ entity.requestModule }}</dd>
        <dt>Datum</dt>
        <dd>{{ entity.created|date('d-m-Y') }}</dd>
    </dl>
    {{ form(form) }}
{% endblock %}
