{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Huurder verwijderen</h1>
    <p>
        Weet u zeker dat u huurder
        {{ html.link(entity, path('odp_huurders_view', {id: entity.id})) }}
        wilt verwijderen?<br>
    </p>
    {{ form(form) }}
{% endblock %}
