{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Dagbesteding | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Dagbesteding/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelnemer verwijderen</h1>
    <p>
        Weet u zeker dat u coördinator
        {{ trajectbegeleider }}
        wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
