@CHARSET "UTF-8";

/** General Style Info **/
body {
    background: #759c46;
    color: #fff;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size: 70%;
    margin: 0;
}

p {
    margin: 5px;
}

a {
    color: #003d4c;
    text-decoration: underline;
    font-weight: bold;
}
a:hover {
    color: #367889;
    text-decoration:none;
}
a img {
    border:none;
}

h1, h2, h3, h4 {
    font-weight: normal;
    /* A max size, not to run over the background logo */
    max-width:640px;
}
h1 {
    background:#fff;
    color: #003d4c;
           font-size: 200%;
}
h2 {
    background:#fff;
    color: #759c46;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    font-size: 180%;
}
h3 {
    color: #759c46;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    font-size: 140%;
}
h4 {
    color: #993;
    font-weight: normal;
}
ul, li {
    margin: 0 10px;
}

.clear {
    clear: both;
}


/* tables */

table:not(.ui-datepicker-calendar) {
    background: #fff;
    border: 1px solid #DDD;
    border-bottom:0;
    border-spacing: 0;
    clear: both;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
th {
    border:0;
    border-bottom:2px solid #555;
    text-align: left;
    padding:4px;
}
th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}
th a.asc:after {
    content: ' ⇣';
}
th a.desc:after {
    content: ' ⇡';
}
table tr td {
    background: #fff;
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom:1px solid #ddd;
}
table.fixedwidth tr td:nth-child(1) {
     width:300px;
}
table tr:nth-child(2n) td{
    background: #f5f5f5;
}

table tr td.white-background {
    background: #fff;
}

table tr td.white-background h2 {
    background-color: transparent;
}

table .altrow td {
    background: #f5f5f5;
}
td.actions {
    text-align: center;
    white-space: nowrap;
}
table td.actions a {
    margin: 0px 6px;
    padding:2px 5px;
}

table.fixed {
    table-layout: fixed;
}

.actions fieldset.fix-size {
    width: 228px;
}
.actions fieldset.fix-size table {
    width: 226px;
}

.actions fieldset .vscroll {
    overflow: auto;
    width: 226px;
}

.cake-sql-log table {
    background: #f4f4f4;
}
.cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
    color:#fff;
}

.numeric {
    text-align: right;
}

/*
 * css for index table and the filter table above it, fixed width
 * classes can also be aplied to other tables, (like the registratie table)
 */
table.index{
    width: 965px;
    margin: 1em 0 1em 0;
}

table.filtered{
    border-top: 0;
    margin-top: 0;
}

table.filter{
    width: 965px;
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

table.filter td, table.index th{
    background-color: #e8f9d4;
    vertical-align: top;
}


table.filter td{
    padding: 3px 3px 0 3px;
    border: 0;
}

table.filter div.input{
    margin:0;
    padding:0;
}

table.filter div.input input, table.index thead input{
    border: 1px solid #666;
    margin: 0;
    height: 15px;
    width: 93%;
}

table.filter .klantnrCol div.input input{
    padding: 0;
    margin: 0;
    height: 19px;
}

table.index td, table.index th{
    padding: 3px;
}
/*
 * particular columns for filter and index table
 * they keep the filter well aligned with the table
 */
table .klantnrCol{width: 60px;}
table .pfovoornaamColHeader{width: 100px;}
table .pfovoornaamCol{width: 83px;}
table .pfoachternaamColHeader{width: 83px;}
table .pfoachternaamCol{width: 83px;}
table .voornaamCol{width: 150px;}
table .tussenvoegselCol{width: 60px;}
table .achternaamCol{width: 140px;}
table .roepnaamCol{width: 140px;}
table .gebortedatumCol{width: 90px;}
table .geschlachtCol{width: 30px}
table .laatsteIntakeCol{width: 95px;}
table .projectenCol{width: 95px;}
table .pfogroepColHeader{width: 80px;}
table .pfogroepCol{width: 80px;}
table .medewerkerCol{width: 95px;}
table .werkgebiedCol{width: 110px;}
table .overeenkomstCol{width: 14em;}
table .izProjectsCol{width: 110px;}
table .IzMedewerkerCol{width: 168px;}
table .lastZrmCol{width: 90px;}
table .IzKlKvoornaam{width: 97px;}
table .IzKlKachternaam{width: 97px;}
table .IzKlVvoornaam{width: 97px;}
table .IzKlVachternnaam{width: 97px;}
table .IzKlmedewerker{width: 90px;}
table .IzKlstartdatum{width: 90px;}
table .IzKlwerkgebied{width: 90px;}
table .IzKlproject{width: 90px;}
table .show_allCol{width: 40px;}
table td.aantalIntakesCol{}

table td.backIconCol, table th.backIconCol{width: 0; padding: 0; height: 0;}

/*end of index/filter alignment*/

table.index a{
    padding: 0;
}

table.noborders, table.noborders th, table.noborders tr, table.noborders td{
    border: 0;
}

td.clickable{
    cursor: pointer;
}

table.export_table {
    margin-top: 3em;
}

h3.with_margin {
    margin-top: 3em;
}

div#subheader {
    background-color: #E8F9D4;
}

/*the achternaam column made slightly wider*/
.registraiteAchternaam{
    min-width: 90px;
}

/**tables end**/

.twoDivs{
    text-align: center;
    display: block;
}

.rightDiv, .leftDiv{
    margin: 0;
    text-align: left;
    width: 390px;
    display: inline-block;
    padding: 15px;
}

.rightDiv{
    border-left: 1px solid #DDD;
    padding-left: 55px;
}
.center3cDiv, .right3cDiv, .left3cDiv{
    margin: 0;
    text-align: left;
    width: 240px;
    display: inline-block;
    padding: 28px;
}

.center3cDiv, .right3cDiv{
    border-left: 1px solid #DDD;
    padding-left: 35px;
}
.centeredContentWrap{
    display: block;
    text-align: center;
}

.centered{
    margin: auto;
    width: auto;
    display: inline-block;
}

.centered fieldset{
    text-align: left
}

/*forms*/
div.aligned label{
    display: inline-block;
    width: 80px;
}

/* elements */


.editWrenchFloat{
    text-align: right;
    float: right;
}

.editWrench *,
.editWrenchFloat *{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0 .2em 0 0;
}

.editWrenchFloat div{
    border: 1px solid #DDD;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.editWrenchFloat input{
    margin: .1em;
    float: right;
    vertical-align: middle;
}

.editWrenchFloat label{
    margin: .2em;
    float: none;
}

.editWrench{
    width: 100%;
    text-align: right;
}

/**elements end**/

.small-inline-textfield *{
    display: inline-block;
    vertical-align: top;
    height: 1em;
    float: none;
}

.small-inline-textfield #SchorsingMoreDays{
    width: 2em;
    height: 1.1em;
    position: relative;
    top: -.4em;
}

table.index a {
    color: #333;
    text-decoration:none;
    font-weight: normal;
}
table.index a:hover {
    color: #367889;
    text-decoration:underline;
}

table.index #table_footer a{
    color: #003D4C;;
    text-decoration:none;
    font-weight: bold;
}
table.index #table_footer a:hover {
    color: #367889;
    text-decoration:underline;
}

div:not(.datePicker) table tr:hover td {
    background: #E8F9D4;
}

table.index tr#table_footer:hover td {
    background-color: #ffffff;
}

div:not(.datePicker) table tr:hover:nth-child(2n) td {
    background: #E8F9D4;
}

table.ui-datepicker-calendar tr td,
table.ui-datepicker-calendar tr:nth-child(2n) td,
table.ui-datepicker-calendar tr:hover:nth-child(2n) td,
table.ui-datepicker-calendar tr:hover td{
    background: 0 none transparent !important;
}

.ui-datepicker-trigger, .clear-date{
    margin: 0 3px;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].compact, .registratie-ok-icon{
    clear: none;
    margin: 0px 0px 0px .75em;
    width: auto;
}

.ajax_text {
    padding-left: 0.75em;
    cursor: pointer;
}
.ajax_text:hover {
    padding-left: 0.75em;
    cursor: pointer;
    /* background: #EFE url('../img/time_go.png') no-repeat right; */
    background: #EFE;
    margin: 2px;
    margin-top: -1px;
    margin-left: -1px;
    height: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #ABA;
    border-bottom: 1px solid #ABA;
}

#loading {
    position:absolute;
    position:fixed;
    left: 4px;
    top: 27px;
    background: #ff9;
    width: 100px;
    text-align: center;
    margin: 4px;
}

/* images next to links */

.back{
    background: white url('../img/arrow_left.png') no-repeat left top;
    padding: 0 0 1px 2em;
}
.checkout{
    background: white url('../img/user_go.png') no-repeat left top;
    padding: 0 0 1px 2em;
}

/*page specific styles and details*/

/*
headers followed by p with "commentary" text
*/
.commentedHeader{
    display: inline-block;
}
p.headerComment{
    display: inline-block;
    margin: 0;
}

/*
lists that have text which wraps to the next line and is aligned with
the first line
*/
ul.wrappedList li{
    white-space: normal;
    list-style-position: outside;
    margin-left: 13px;
    padding-left: 0;

}

/*
pages that have a header outside a box and content inside a box
next several definitions go together ex: margins = paddings
they have to be updated accordingly so that the layout stays intact
*/
div.borderedContent{
    margin: 24px 0 0 0;
    border: 1px solid #ccc;
    background: white;
    padding: 15px;
}

.verslagen .cell{
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 475px;
}

.verslagen .cell h3{
    padding-left: 6px;
    margin-bottom: .5em;
}

.verslagen .scroll-box{
    height: 550px;
    overflow: auto;
    width: 470px;
}

#verslagen-opmerking, .verslagen .scroll-box{
    border: 1px #ccc solid;
}

#verslagen-opmerking{
    height: 184px;
    padding: 5px;
}

#verslagen-opmerking textarea{
    height: 164px;
    width: 420px;
}

#verslagen-right-col, #verslagen-right-col .scroll-box{
    width: 455px;
    margin: 0 0 1em 0;
    padding: 0;
}

#verslagen-right-col{
    margin-left: 10px;
}

#verslagen-index{
    height: 325px;
}



div.verslagen.form{
    float: none;
    width: 950px;
}

.verslagen .tree{
    padding: 0;
    border: 0;
}

.tree > legend{
    margin-left: 20px;
}

.tree .node{
    margin: 0;
    padding: 0;
    height: 23px;
    line-height: 23px;
}

.tree .selectNode{
    margin: 0;
    padding: 0;
}

.tree input{
    float: none;
}
.tree label{
    display: inline;
}

.tree label, .tree input, .tree select{
    vertical-align: middle;
    margin: 1px;
}

.tree big{
    color: red
}

.tree select{
    font-size: .9em;
    padding: 0;
}

.tree small, #ondersteuning small{
    margin-left: 5px;
    color: #999;
    font-size: .9em;
}

.tree img{
    height: 23px;
    vertical-align: middle;
}

.tree fieldset.no-border,
.divContactSoort fieldset {
    border: 0;
    padding: 0;
    margin: 0px;
}

.divContactSoort fieldset {
    padding-top: 5px;
}
.divContactSoort label {
    display: block;
    float: left;
    width: 200px;
    height: 23px;
}

.divContactSoort input {
    display: block;
    float: left;
    margin-left: 10px;
}

.movableDropdown select{
    margin-left: 1em;
}

.maatsWerk fieldset{
    display: inline-block;
    width: 235px;
    height: 410px;
    margin: 10px;
    vertical-align: top;
}

.maatsWerk fieldset.smaller{
    height: 150px;
}

/* x 'undo' buttons at registraties */
.xButton{position: relative; width: 0; height: 0; overflow: visible}
.xButton a{position: absolute; left: -27px;}


fieldset {
    border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 16px 20px;
    background: white;
}
fieldset legend {
    background:#fff;
    color: #759c46;
    font-size: 120%;
    font-weight: bold;
}

fieldset.inline-labels label{
    display: inline-block;
    width: 220px;
    margin-right: 20px;
}

#ondersteuning p{
    margin: 0 0 1em 0;
    padding: 0;
}

#HistoryAjaxShowHistoryForm{
    float: right;
}

#KlantEditForm div.submit{
    display: inline-block;
}

#KlantEditForm div.submit a{
    display: block;
    height: 18px;
    border: 2px outset red;
    padding: 2px 6px;
    font-size: 110%;
    font-weight: normal;
    text-decoration: none;
    background: -moz-linear-gradient(center top , #fff, #EE0000) repeat scroll 0 0;
    text-shadow: #ff8888 0px 1px 0px;
}

#KlantEditForm div.submit a:hover{
    background: -moz-linear-gradient(center top , #EE0000, #660000) repeat scroll 0 0;
    color: #fff;
    text-shadow: none;
}

.awbz-indicatie{
    margin: 10px;
}

.awbz-indicatie h4{
    margin-bottom: 5px;
}

hr{
    border: 0;
    background: #ccc;
    height: 1px;
}

.hidden {
    display: none;
}

.verslag-textarea {
    width: 100%;
    height: 200px;
}

ul#subtabs,
ul.tabs {
         list-style: none;
         margin: 0;
         padding: 0;
}

ul#subtabs li,
ul.tabs li {
         float: left;
         margin: 4px 20px 4px 4px ;
}
ul.tabs {
         /*margin-left: 30px;*/
}
ul.tabs li {
         border-top: 1px solid #DDDDDD;
         border-left: 1px solid #DDDDDD;
         border-right: 1px solid #DDDDDD;
         margin: 0;
         padding: 4px 10px;
         background: #EFEFEF;
}
ul.tabs li.tab_acted {
         background: white;
}

ul.tabs li a {
         text-decoration: none
}

@media print {

    *{
        overflow: visible !important;
        float: none !important;
        font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    }

    #contentWrap, #content, div.view, fieldset{
        overflow: visible !important;
        font-size: 10px;
    }

    body {
        background: none !important;
    }

    #header, div.editWrench, .cake-sql-log, #footer, a{
        display: none;
    }

    div.view{
        float: left;
        overflow: visible;
        display: block;
    }
    div.actions{ float: left; display: block;}

    h3{
        font-size: 13px;
        margin: 0;
    }

    table tr td{
        padding: 3px;
        width: 300px;
    }

    ul li, ul{
        margin: 0 10px;
        padding: 0;
    }

    div.print-invisible{
        display: none !important;
    }
    div.category span {
        display: inline;
        font-weight: bold;
        font-size: 110%;
    }

}
#Hi5EvaluatieParagraph input{
    clear: none;
    float: none;
}

.hi5contactjournal {
    margin-bottom: 15px;
    elevation: 43grad;
}

.noborder {
    border:0;
}

#fldManagementRapportages table {
    margin-bottom: 30px;
}
#fldManagementRapportages table tr th,
#fldManagementRapportages table tr td {
    text-align: right;
}

#fldManagementRapportages table tr th:first-child,
#fldManagementRapportages table tr td:first-child {
    text-align: left;
}

#fldManagementRapportages table.withSummary tr:last-child td {
    font-style: italic;
    border-top: 1px solid #777;
}

.amocLandWarning {
    display: none;
}


.document_manager_box a {
    text-decoration: none;
}

.document_manager_box .attachment {
    margin-bottom: 4px;
}

.document_manager_box .attachment .delete_link {
    float: right;
    margin-left: 4px;
}

.document_manager_box .attachment .icon {
    float: left;
    margin-right: 5px;
}



#imgScrollup {
    position: absolute;
    top: 40px;
    left: 10px;
    display: none;
    cursor: pointer;
}

.overig_reden {
    padding: 0 0 0 30px;
    margin: -14px 0 20px 0;
    display: none;
}

.overig_reden label {
    display: none;
}

.no_li_bullets ul {
    margin: 0px;
}

.no_li_bullets li {
    list-style-type: none;
    margin: 0px;
}

.fieldset {
    margin: 20px 0 20px 0;
}

.fieldset h2 {
    margin: 0 0 10px 0;
}

.hi5_evaluatie_paragraph, .extra_td_height td {
    height: 9em;
}

.zrmreport p {
    display: block;
    background: green;
    color: white;
}

.zrmreport caption {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}

.zrmedit td {
    #background-color: #009f31;
    color: green;
}

.entryenabled {
    color: green;
}
.entrydisabled {
    color: red;
}

/*
 * Menu selected items
 */
 ul#tabs a.selected {

    padding: 5px 10px 0px;

    background-color: #E8F9D4;

    color: #003D4C;

    border-left: 1px solid #003D4C;

    border-right: 1px solid #003D4C;

    border-top: 1px solid #003D4C;

}

div#subheader a {
    text-decoration: none;
}

div#subheader a.selected {
    text-decoration: underline;
}

#groepsactiviteitenActiviteitRegistreren table tr td {
    padding: 0 6px;
}
ul#groepen {
    columns:3;
    -webkit-columns: 3;
    -moz-columns: 3;
    margin-top: 2em;
}
ul#groepen li {
    list-style-type: none;
    margin: 0.3em 0;
}

ul.pagination > li {
    margin: 5px;
    float: left;
    list-style: none;
}

.sr-only {
    display: none;
}
