{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Groepsactiviteiten | Klanten
{% endblock %}

{% block subnavigation %}
    {% include '@Ga/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelnemer verwijderen</h1>
    <p>
        Weet u zeker dat u deelnemer <strong>{{ klant }}</strong> wilt verwijderen?<br>
        {{ form(form) }}
    </p>
{% endblock %}
