{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Vrijwilliger Deelnames
{% endblock %}

{% block subnavigation %}
    {% include '@Tw/tw_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Status van deelname aan training wijzigen</h1>
    {{ form(form) }}
{% endblock %}
