{% include('hs_subnavigation.twig') %}
{{ this.element('hs_subnavigation') }}
<h1>Activiteit bewerken</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Opslaan</button>
{{ form_end(form) }}