{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Groepsactiviteiten | Klanten
{% endblock %}

{% block subnavigation %}
    {% include '@Ga/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Dossier afsluiten</h1>
    {{ form(form) }}
{% endblock %}
