{% include 'hs_subnavigation.twig' %}

<h1>Uren toevoegen</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Opslaan" />
{{ form_end(form) }}

{{ html.link('Uren verwijderen', {'controller': 'hs_registraties', 'action': 'edit', 0: hsRegistratie.id}) }}                                
