{% include 'hs_subnavigation.twig' %}

<h1>Uren wijzigen</h1>

<p>
    {% set hsKlus = form.vars.data.hsKlus %}
    {{ html.link('Terug naar ' ~ hsKlus, {'controller': 'hs_klussen', 'action': 'view', 0: hsKlus.id})|raw }}
</p>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Opslaan</button>
{{ form_end(form) }}

