{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Clip | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Document wijzigen</h1>
    {{ form(form) }}
{% endblock %}
