{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Huurverzoek verwijderen</h1>
    <p>
        Weet u zeker dat u huurverzoek
        {{ html.link(huurverzoek, path('tw_huurverzoeken_view', {id: huurverzoek.id})) }}
        wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
