{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Verslag verwijderen</h1>
    <p>
        Weet u zeker dat u dit verslag over <strong>{{ entity }}</strong>
        wilt verwijderen?<br>
        {{ form(form) }}
    </p>
{% endblock %}
