{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Uit het Krijt | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Uhk/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Verslag verwijderen</h1>
    <p>
        Weet u zeker dat u dit verslag over <strong>{{ entity }}</strong>
        wilt verwijderen?<br>
        {{ form(form) }}
    </p>
{% endblock %}
