{% import '::html.macro.twig' as html %}

<h2>Documenten</h2>
<p>
    {{ html.link('Document toevoegen', path('mw_documenten_add', {klant: klant.id}), 'upload') }}
</p>
<table class="table table-hover">
    {% for document in documenten %}
        <tr>
            <td>
                {{ html.link(document, vich_uploader_asset(document, 'file'), 'download') }}
                {% if is_granted('ROLE_ADMIN') or document.medewerker.id == app.user.id %}
                    {{ html.deleteLink(path('mw_documenten_delete', {id: document.id})) }}
                {% endif %}
            </td>
            <td>
                {{ document.created|date('d-m-Y') }}
            </td>
        </tr>
    {% endfor %}
</table>
