{% extends '@Mw/klanten/close.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity.isAangemeld?"Aanmelding":"Afsluiting" }} wijzigen</h1>
    <p>
        {{ html.link('Annuleren', path('mw_klanten_view', {id: entity.klant.id}), 'cancel') }}
    </p>
{% endblock %}
