{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    SCIP | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Scip/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Werkdoel verwijderen</h1>
    <p>
        Weet u zeker dat u dit werkdoel van <strong>{{ entity.deelnemer }}</strong>
        wilt verwijderen?<br>
        {{ form(form) }}
    </p>
{% endblock %}
