{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Activiteiten |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Activiteit toevoegen</h1>
    {{ form(form) }}
{% endblock %}
