{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    OEK | Rapportages |
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/oek_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h2>Rapportages</h2>

    <div class="actions">
        <fieldset>
            <legend>Opties</legend>
            {{ form(form) }}
        </fieldset>
    </div>

    <div class="form">
        <fieldset id="fldRapportages">
            <legend>Rapport {{ title is defined ? '"'~title~'"' }}</legend>
            {% if reports is defined %}
                {{ include('@Oek/rapportages/_pivot_tables.html.twig') }}
            {% endif %}
        </fieldset>
    </div>

    <iframe name="iframeExcel" style="display: none;"></iframe>
{% endblock %}
