{% extends '::base-2-col.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Op Eigen Kracht | Rapportages
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content_left %}
    <h1>Rapportages</h1>
    {{ form(form) }}
{% endblock %}

{% block content_right %}
    <h2>Rapport {{ title is defined ? '"'~title~'"' }}</h2>
    {% if reports is defined %}
        {{ include('@Oek/rapportages/_pivot_tables.html.twig') }}
    {% endif %}
{% endblock %}
