{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Homeservice | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Document toevoegen</h1>
    {{ form(form) }}
{% endblock %}
