{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block _afsluiting_resultaat_widget -%}
    <div style="column-count: 2">
        {{ form_widget(form) }}
    </div>
{%- endblock _afsluiting_resultaat_widget %}
