{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content %}
    {% if locaties is defined %}
        <h1>Locatieselectie</h1>
        <ul>
            {% for locatie in locaties %}
                <li>
                    <a href="{{ path('inloop_registraties_checkins', {locatie: locatie.id}) }}">{{ locatie }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Registratie voor locatie {{ locatie }}</h1>
        <p>
            <a href="{{ path('inloop_registraties_checkins') }}">Locatie wijzigen</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Voornaam/roepnaam</th>
                    <th>Achternaam</th>
                    <th>Geboortedatum</th>
                    <th>Geslacht</th>
                    <th>1e locatie (gebruikersruimte)</th>
                    <th>2e locatie (intakelocatie)</th>
                    <th>3e locatie</th>
                    <th>Nieuwe intake nodig</th>
                    <th>Schorsingen</th>
                </tr>
            </thead>
            <tbody>
                {% for klant in klanten %}
                    <tr></tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
