{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Inloop | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Inloop/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Locatieselectie</h1>
    <p>Selecteer je huidige locatie uit onderstaande lijst.</p>
    <ul>
        {% for locatie in locaties %}
            <li>
                <a href="{{ path('inloop_registraties_index', {locatie: locatie.id}) }}">{{ locatie }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
