{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Huuraanbod verwijderen</h1>
    <p>
        Weet u zeker dat u huuraanbod
        {{ html.link(huuraanbod, path('tw_huuraanbiedingen_index')) }}
        wilt verwijderen?<br>
        {{ form(form) }}
    </p>
{% endblock %}
