{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>{{ entity_name|capitalize }} wijzigen</h1>
    <p>
        {{ html.link('Annuleren', path(route_base~'index'), 'cancel') }}
        {{ html.link('Verwijderen', path(route_base~'delete', {id: entity.id}), 'delete') }}
    </p>
    {{ form(form) }}
{% endblock %}
