{% extends '::base.html.twig' %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Afsluiting toevoegen</h1>
    {{ form(form) }}
{% endblock %}
