{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Tijdelijk Wonen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Huurder heropenen</h1>
    <p>Weet u zeker dat u het dossier van verhuurder {{ verhuurder }} wilt heropenen?
    {{ form(form) }}
{% endblock %}
