<p><b>Referral - Skierowanie na rozmowe - Scrisoare de trimitere
        <br>Pекомендательное письмо – remisión – Verweisung - Ajánlás</b></p>
<p>
    <b>Name:</b> {{ klant|naam_voor_achter }}<br/>
    <b>Date of birth:</b> {{ klant.geboortedatum|date('d-m-Y') }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Country of origin:</b> {{ klant.land }}
</p>
<p>Notice:</p>
<p>With this letter you will be send to another location where you will get an intake with a social worker. During this conversation the social worker will make a plan together with you how we can support you depending your individual situation. You can go to AMOC West, Transformatorweg 6, from Monday till Friday between 09:00 – 15.30 hrs.</p>
<p>Con questa lettera vieni inviato in uno centro dove dovrai parlare con un assistente sociale. L'assistente sociale dopo aver parlato con te decidera', a seconda della tua situazione se e' possibile aiutarti nel modo migliore. Puoi andare ad AMOC West, Transformatorweg 6, per la tua registrazione, dal lunedì al venerdì dalle 09:00 alle 15:30.</p>
<p>Con esta carta, eres enviado a otro lugar donde obtendrá una admisión con un trabajador social. Durante esta conversación, el trabajador social elaborará un plan junto con tu sobre cómo podemos ayudarte dependiendo su situación individual. Puedes ir a AMOC West, Transformatorweg 6, de lunes a viernes de 09:00 a 15:30 hrs.</p>
<p>Razem z tym formularzem zostaniesz wyslany/a do innej placowki z naszej organizacji , gdzie bedziesz mial/a spotkanie z pracownikiem socjalnym. Podczas tej rozmowy, w zaleznosci od twojej indywidualnej sytuacji, zostanie podjeta decyzja czy nasza organizacja jest w stanie oferowac jakas pomoc. Na rozmowe z pracownikiem socjalnym mozesz isc do AMOC West, Transformatorweg 6, od poniedzialku do piatku pomiedzy 09.00 – 15.30.</p>
<p>Cu aceasta scrisoare vei fi trimis catre o alta locatie ce apartine de noi, unde vei avea o intalnire cu un asistent social. In timpul acestei intalniri asistentul social va discuta cu tine si va evalua, in functie de situatia in care te afli, daca, si in ce fel, am putea sa te ajutam. Poti merge la AMOC West, Transformatorweg 6, de luni până vineri de la 09:00 la 15:30.</p>
<p>С этим письмом вы будете отправлены в другое место, где вы получите прием с социальным работником. Во время приема социальный работник будет разговаривать с вами, и в зависимости от вашей индивидуальной ситуации решение будет принято, если помощь может быть предложена, и вы будете оценены. Вы можете пойти в AMOC West, Transformatorweg 6, с понедельника по пятницу с 09:00 до 15:30</p>
<p>Mit diesem Brief werden Sie an einen anderen Ort geschickt, wo Sie ein Intake Gespräch bei einem/r Sozialarbeiter/in haben werden. Während diesem Gespräch werden wir zusammen einen Plan machen welche Hilfe wir anbieten können abhängig von Ihrer persönlichen Situation. Sie erreichen uns von Montag bis Freitag von 09:00 – 15:30 Uhr im AMOC West, Transformatorweg 6.</p>
<p>Ezzel a levéllel egy másik helyszínre fogsz menni, ahol egy szociális munkással találkozhatsz. Ezen a beszélgetésen a szociális munkással együtt fogjátok megtervezni, hogy hogyan tudunk támogatást nyújtani neked, figyelembe véve az egyéni helyzetedet. A felvételi beszélgetésre az AMOC West-be, a Transformatorweg 6-ba tudsz elmenni hétfőtől péntekig, 09:00 és 15:30 között.</p>
<br>
<p>
Kind regards,<br/>
De Regenboog Groep
</p>
<p>Check out the map on the other side to find your way AMOC West, Transformatorweg 6</p>