{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Mw dossier heropenen</h1>

    {% if instanceof(klant.getHuidigeMwStatus(), 'MwBundle\\Entity\\Afsluiting') %}
        <h4>Let op: dit dossier is eerder afgesloten met als reden: {{ klant.getHuidigeMwStatus().getReden() }} </h4>
    {% endif %}

    {{ form(form) }}
{% endblock %}
