{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    HomeService | Dienstverleners |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/hs_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
<h1>Dienstverlener verwijderen</h1>
<p>
    Weet u zeker dat u activiteit <strong>{{ klant }}</strong> wilt verwijderen?<br>
    {{ form_start(form) }}
        {{ html.link('Nee, terug', {'action': 'index'}) }}
        <button type="submit">Ja, verwijderen</button>
    {{ form_end(form) }}
</p>
{% endblock %}
