<div class="extra-data">
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}" role="alert">{{ flash_message }}</div>
        {% endfor %}
    {% endfor %}
</div>