{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Vrijwilliger Deelnames
{% endblock %}

{% block subnavigation %}
    {% include '@Clip/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelname verwijderen</h1>
    <p>
        Weet u zeker dat u training <strong>{{ entity.training }}</strong>
        van vrijwilliger <strong>{{ entity.vrijwilliger }}</strong> wilt verwijderen?
        <br>
        {{ form(form) }}
    </p>
{% endblock %}
