{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    <h1>Groep toevoegen</h1>
    {% if (form is defined) %}
        {{ form(form) }}
    {% else %}
        <p>Selecteer het type groep dat je wilt toevoegen:</p>
        <ul>
            {% for group_type in group_types %}
                <li>{{ html.link(group_type, path(route_base~'add', {type: group_type})) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
