{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content %}
    {% if entity is defined %}
        <h1>Klus toevoegen voor {{ entity }}</h1>
    {% else %}
        <h1>Homeservice-klus toevoegen</h1>
    {% endif %}
    {{ form(form) }}
{% endblock %}
