{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Klanten |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Klant toevoegen</h1>
    {% if filterForm is defined %}
        Zoek een bestaande klant op naam of geboortedatum.
        {{ form(filterForm) }}
    {% endif %}
    {% if selectionForm is defined %}
        Selecteer een bestaande klant en klik op "Verder".<br>
        Selecteer niks en klik op "Verder" om een nieuwe klant aan te maken.
        {{ form(selectionForm) }}
    {% endif %}
    {% if creationForm is defined %}
        {{ form(creationForm) }}
    {% endif %}
{% endblock %}
