{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Homeservice | Klanten |
{% endblock %}

{% block subnavigation %}
    {% include '@Hs/hs_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Klant verwijderen</h1>
    <p>
        Weet u zeker dat u klant <strong>{{ entity }}</strong> wilt verwijderen?<br>
        {{ form(form) }}
    </p>
{% endblock %}
