{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    OEK | Deelnames |
{% endblock %}

{% block subnavigation %}
    {% include '@Oek/_partials/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Deelname verwijderen</h1>
    <p>
        Weet u zeker dat u deelnemer <strong>{{ oekDeelname.oekKlant }}</strong>
        van training <strong>{{ oekDeelname.oekTraining }}</strong> wilt verwijderen?
        <br>
        {{ form(form) }}
    </p>
{% endblock %}
