{% extends 'GaBundle::view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
{% endblock %}

{% block content_left %}
    {% include '::vrijwilliger_basis.html.twig' with {vrijwilliger: entity.vrijwilliger} %}
{% endblock %}

{% block content_right %}
    {% include 'GaBundle:vrijwilligers:_tabs.html.twig' with {intake: entity, vrijwilliger: entity.vrijwilliger, current: 'intake'} %}
    <div class="tab-content">
        <div id="intakes" class="tab-pane active">
            <h2>Intake</h2>
            <p>
                {{ html.link('Annuleren', path('ga_vrijwilligerintakes_view', {id: entity.id}), 'cancel') }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
