{% extends 'GaBundle::view.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
{% endblock %}

{% block content_left %}
    {% include '::vrijwilliger_basis.html.twig' with {vrijwilliger: entity.vrijwilliger} %}
{% endblock %}

{% block content_right %}
    {% include 'GaBundle:vrijwilligers:_tabs.html.twig' with {intake: entity, vrijwilliger: entity.vrijwilliger, current: 'intake'} %}
    <div class="tab-content">
        <div id="intakes" class="tab-pane active">
            <h2>Intake</h2>
            <p>
                {{ html.link('Bewerken', path('ga_vrijwilligerintakes_edit', {id: entity.id}), 'edit') }}
            </p>
            <dl class="dl-horizontal">
                <dt>Intakedatum</dt>
                <dd>{{ entity.intakedatum|date('d-m-Y') }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
