{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    Onder de Pannen | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Huurder heropenen</h1>
    <p>Weet u zeker dat u de koppeling {{ huurovereenkomst }} wilt heropenen?
    {{ form(form) }}
{% endblock %}
