{% include 'odp_subnavigation.twig' %}

<h1>Verhuurder wijzigen</h1>
<p>
    Hier kunt u alleen de OnderDePannen-gegevens voor deze verhuurder wijzigen.
    Klik {{ html.link('hier', {'controller': 'klanten', 'action': 'view', 0: odpVerhuurder.klant.id })|raw }}
    om naar het basisdossier van deze verhuurder te gaan.
</p>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Opslaan</button>
{{ form_end(form) }}
