{% extends '::base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Rapportages
{% endblock %}

{% block content_left %}
    <h1>Rapportages</h1>
    {{ form(form) }}
{% endblock %}

{% block content_right %}
    <h2>{{ title ? 'Rapport "'~title~'"' }}</h2>
    {% if reports is defined %}
        {{ include('@App/rapportages/_pivot_tables.html.twig') }}
    {% endif %}
{% endblock %}
