{% extends 'GaBundle::view.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} {{ entity }}</h1>
{% endblock %}

{% block content_left %}
    {% include '::klant_basis.html.twig' with {klant: entity.klant} %}
{% endblock %}

{% block content_right %}
    {% include 'GaBundle:klantdossiers:_tabs.html.twig' with {intake: entity, klant: entity.klant, current: 'intake'} %}
    <div class="tab-content">
        <div id="intakes" class="tab-pane active">
            <h2>Intake</h2>
            <p>
                {{ html.link('Annuleren', path('ga_intakes_view', {id: entity.id}), 'cancel') }}
            </p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
