{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Pagina niet gevonden
{% endblock %}

{% block content %}
    <h1>Pagina niet gevonden</h1>
    <p>
        Neem contact op met {{ administrator_name }}
        (<a href="mailto:{{ administrator_email }}?subject=ECD%20foutmelding">{{ administrator_email }}</a>)
        als dit probleem zich blijft voordoen.
    </p>
{% endblock %}
