<h2>Verslaving</h2>
<h4>Problematiek</h4>
<dl class="dl-horizontal">
    <dt>Verslavingen</dt>
    <dd>
        <ul>
            {% for verslaving in entity.verslavingen %}
                <li>{{ verslaving }}</li>
            {% endfor %}
            {% if entity.verslavingOverig %}
                <li>{{ entity.verslavingOverig }}</li>
            {% endif %}
        </ul>
    </dd>
</dl>
