{% extends 'base.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block title %}
    Dagbesteding | {{ title }}
{% endblock %}

{% block subnavigation %}
    {% include '@Dagbesteding/subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Rapportage wijzigen</h1>
    {{ form(form) }}
{% endblock %}
