{% extends '::base.html.twig' %}
{% import '::html.macro.twig' as html %}

{% block title %}
    ODP | Huurderafsluitingen |
{% endblock %}

{% block subnavigation %}
    {% include '@Odp/odp_subnavigation.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Huurderafsluiting verwijderen</h1>
    <p>
        Weet u zeker dat u huurderafsluiting
        {{ huurderafsluiting }}
        wilt verwijderen?
    </p>
    {{ form(form) }}
{% endblock %}
