{% extends 'base-2-col.html.twig' %}
{% import 'html.macro.twig' as html %}

{% block content_top %}
    <h1>{{ entity_name|capitalize }} toevoegen</h1>
{% endblock %}

{% block content_left %}
    {% include 'klant_basis.html.twig' with {klant: entity.klant, module: 'Intake'} %}
{% endblock %}

{% block content_right %}
    <h2>{{ entity_name|capitalize }}</h2>
    <p>
        {{ html.link('Annuleren', path(route_base~'klantview', {klant: entity.klant.id}), 'cancel') }}
    </p>
    {{ form(form) }}
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            var checkboxAlleLocaties = $('form input#schorsing_alleLocaties');
            var checkboxesLocaties = $('form #schorsing_locaties input[type="checkbox"]');

            var checkboxesAgressie = $('form #schorsing_redenen label:contains("agressie") input[type="checkbox"]');
            var radioAgressie = $('form #schorsing_agressie input[type="radio"]');
            var checkboxOverig = $('form #schorsing_redenen label:contains("Overig") input[type="checkbox"]');

            var fieldsAgressieAll = $('form div.agressie').closest('.form-group');
            var fieldsAgressieParent = $('form div.agressie_parent').closest('.form-group');
            var fieldsAgressieChildren = $('form div.agressie_children').closest('.form-group');
            var fieldOverig = $('form #schorsing_redenOverig').closest('.form-group');

            var toggleLocaties = function() {
                checkboxesLocaties.prop('checked', checkboxAlleLocaties.prop('checked'));
            };

            var toggleAlleLocaties = function() {
                var checked = 0;
                checkboxesLocaties.each(function(i, elm) {
                    if ($(elm).prop('checked')) ++checked;
                });
                checkboxAlleLocaties.prop('checked', checked == checkboxesLocaties.length);
            };

            var toggleFieldsAgressieParent = function() {
                var checked = 0;
                checkboxesAgressie.each(function(i, elm) {
                    if ($(elm).prop('checked')) {
                        ++checked;
                    }
                });
                if (checked > 0) {
                    fieldsAgressieParent.show();
                    toggleFieldsAgressieChildren();
                } else {
                    fieldsAgressieAll.hide();
                    $('form div.agressie input[type="text"]').val('');
                    $('form div.agressie input[type="radio"]').prop('checked', false);
                }
            };

            var toggleFieldsAgressieChildren = function() {
                var checked = 0;
                radioAgressie.each(function(i, elm) {
                    var label = $(elm).closest('label').text().trim();
                    var checked = $(elm).prop('checked');
                    if ('Ja' === label) {
                        if (checked) {
                            fieldsAgressieChildren.show();
                        } else {
                            fieldsAgressieChildren.hide();
                            $('form div.agressie_children input[type="text"]').val('');
                            $('form div.agressie_children select').val('');
                            $('form div.agressie_children input[type="radio"]').prop('checked', false);
                        }
                    }
                });
            };

            var toggleFieldOverig = function() {
                if (checkboxOverig.prop('checked')) {
                    fieldOverig.show();
                } else {
                    fieldOverig.hide();
                }
            };

            toggleAlleLocaties();
            toggleFieldsAgressieParent();
            toggleFieldsAgressieChildren();
            toggleFieldOverig();

            checkboxAlleLocaties.on('change', function() {
                toggleLocaties();
            });
            checkboxesLocaties.on('change', function() {
                toggleAlleLocaties();
            });
            checkboxesAgressie.on('change', function() {
                toggleFieldsAgressieParent();
            });
            radioAgressie.on('change', function() {
                toggleFieldsAgressieChildren();
            });
            checkboxOverig.on('change', function() {
                toggleFieldOverig();
            });
        });
    </script>
{% endblock %}
